# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
*.egg-info/
dist/
build/
outputs/
*.sqlite
references/
checkpoints.*

# Java
*.class
*.log
*.jar
target/

# --- 忽略 SQLite 数据库文件---
*.db
*.sqlite
*.sqlite3

# 如果 data 文件夹只用来存放本地生成的数据，也可以直接忽略整个 data 目录
data/


# --- 编辑器/IDE ---
.vscode/       
.idea/          
*.swp         
*.swo        

# --- 编译产物/临时文件 ---
*.log
*.tmp
*.temp
.DS_Store
